[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PhyloProfile"]
	path = PhyloProfile
	url = https://github.com/bionf/phyloprofile
